#About{
    border: 1px solid red;

    .info{
        @extend .p-20;
        margin: 0px auto;

    }

    .info-head{
        
        @extend .col-12;
        @extend .pt-40;
        @extend .flex;
        @extend .align-center;
        @extend .flex--justify-center;
        @extend .flex-column;

        h3{
            font-size: 3.5rem;
            font-weight: 700;
            color: white;
        }

        p{
            font-size: 1.2rem;
            font-weight: 400;
            color: rgb(255, 255, 255);
            
        }

        span{
            border-bottom: 1px solid rgb(145, 145, 145);
            width: 30%;
        }

        i{
            font-size: larger;
            @extend .pt-15;
            @extend .px-20;
        }

        .info-hr{
            justify-content: center;
            width: inherit;
        }
        
    }


    .info-content{
        color: white;
       
        @extend .px-30;
        

        h5{
            font-size: 2rem;
            border-bottom: 1px solid rgb(145, 145, 145);
           
            @extend .py-20;
            margin: 0px;
        }

        p{
            font-size: 0.9rem;
            letter-spacing: 0.6px;
            @extend .py-30; 
           
            
                
        } 

        .info-link{
            @extend .flex;
            @extend .align-center;            
            width: inherit;

            span{
                font-size: 1rem;
                
            }

            span:nth-child(2) {
                border-right: 1px solid rgb(148, 148, 148);
                border-left: 1px solid rgb(148, 148, 148);
                @extend .px-20;
                @extend .mx-20;
            }
        }

        .main-button {
             @extend .my-15;
             background-color: #9acd32;
            color: white;
            padding: 15px 40px;
            border-radius: 50px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            border: none;

            i{
                opacity: 0;
            }
           
            
            
        }
        .main-button:hover i{
            opacity: 1;
           
        }
    
    
    }

    .info-content-right{
        border: 2px solid $main-green;
        @extend .m-30;
        position: relative;
        top: 20px;
        border-radius: 5px;

        img{
            width: 100%;
            position: relative;
            top: 25px;
            right: 25px;
            border-radius: 5px;
        }
    }





}
    
