#About{
    border: 1px solid red;

    .info{
        @extend .p-20;
        margin: 0px auto;

    }

    .info-head{
        border: 1px solid green;
        width: 630px;
        @extend .pt-40;
        @extend .flex;
        @extend .align-center;
        @extend .flex--justify-center;
        @extend .flex-column;

        h3{
            font-size: 3.5rem;
            font-weight: 700;
            color: white;
        }

        p{
            font-size: 1.2rem;
            font-weight: 400;
            color: rgb(255, 255, 255);
            
        }

        span{
            border-bottom: 1px solid rgb(196, 194, 194);
            width: 45%;
        }

        i{
            font-size: larger;
            @extend .pt-15;
        }

        .info-hr{
            justify-content: space-between;
            width: inherit;
        }
        
    }


    .info-content{
        color: white;
        @extend .flex;
        @extend .px-20;
        flex-direction: column;
        justify-content: center;

        h5{
            font-size: 2rem;
            border-bottom: 1px solid rgb(145, 145, 145);
           
            @extend .py-20;
            margin: 0px;
        }

        p{
            font-size: 0.9rem;
            letter-spacing: 0.6px;
            @extend .py-30; 
           
            
                
        } 

        .info-link{
            @extend .flex;
            @extend .align-center;            
            width: inherit;

            span{
                font-size: 1rem;
                
            }

            span:nth-child(2) {
                border-right: 1px solid rgb(148, 148, 148);
                border-left: 1px solid rgb(148, 148, 148);
                @extend .px-20;
                @extend .mx-20;
            }
        }
    
    
    }





}
    
