#blog{
    .blog-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 360px;     
        gap: 40px;
        margin-top: 40px;

        .blog-content-item{
            
            width: 100%;
            height: auto;
            @extend .p-relative;
            @extend .p-10;
            box-sizing: border-box;
            a{                                      
                width: 100%;
                height: 100%;
                display: inline-block;
                overflow: hidden; 
                transition: all 4s ease-in-out; 
                //transition: .5s;                 
                                       
                img{
                    width: 100%;
                    height: 100%;
                    background-size: cover;                       
                    background-repeat: no-repeat;
                    background-position: center center;
                    object-fit: cover;
                    border-radius: 7px;                   
                }

            }

            a:hover img{
                transform: scale(1.1)
            }

            .post-date{
                color: white;
                background-color: $main-green;
                @extend .p-absolute;
                top: 10%;
                right: 7%;
                @extend .flex;
                flex-direction: column;
                padding: 0px 5px;
                @extend .normal-font;              
                @extend .align-center;
                border-radius: 7px;

                span{
                    margin: 5px 0px;
                }
            }

            .blog-content-info{
                color: white;

                h2{
                    @extend .large-font;
                    font-weight: 500;
                }

                h2:hover{
                    color: $main-green;
                }

                p{
                    @extend .small-font;
                }
            }

        }

    }
   
    .common-button{
        padding: 10px 50px;
        border-radius: 30px;               
        background-color: $main-green;
        text-align: center;
        @extend .flex;
        @extend .align-center;
        color: white;
        border: none;
        cursor: pointer;
        @extend .p-relative;         
        @extend .fw-600;
        z-index: 5;
        &::before{                   
            content: "\f044";                   
            @extend .p-absolute;
            font: 1rem FontAwesome;
            right: 18%;                    
            opacity: 0;
        }

        span{
            font-size: 1.2rem;
            font-weight: 500;
            @extend .p-relative;
            right: 0;
        }  
        
    }
        

    .common-button:hover::before{
        transition: .3s;
        opacity: 1;
        right: 8%;
    }

    .common-button:hover.common-button span{
        transition: .3s;
        right: 10%;
    }


}