#contactBase{
    background-image: url(/images/contactform-bg.jpg);
    height: 100vh;  
    background-size: cover; 
    clip-path: polygon(100% 5%, 0% 0%, 0% 90%, 100% 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    @extend .p-relative;
    margin-top: 100px;
    &::after{
        content: '';
        @extend .pt-30;
        width: 100%;
        height: 100%;
        @extend .p-absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
    }

    .row{
        flex-direction: column;

        form{
            @extend .flex;
            flex-wrap: wrap;
            @extend .p-relative;            
            z-index: 5;
            @extend .mt-30;
            @extend .flex--justify-around;
        }

        textarea{
            margin: 20px 0px;
            color: #aaa;
            border-radius: 30px;
            padding: 50px 10px;
            box-sizing: border-box;
        }

        .common-button{
            padding: 10px 50px;
            border-radius: 30px;               
            background-color: $main-green;
            text-align: center;
            @extend .flex;
            @extend .align-center;
            color: white;
            border: none;
            cursor: pointer;
            @extend .p-relative;                
            @extend .fw-600;
            z-index: 5;
            &::before{                   
                content: "\f1d8";                   
                @extend .p-absolute;
                font: 1rem FontAwesome;
                right: 18%;                    
                opacity: 0;
            }
        
            span{
                font-size: 1.2rem;
                @extend .fw-500;
                @extend .p-relative;
                right: 0;
            }               
            
        }
        
        .common-button:hover::before{
            transition: .3s;
            opacity: 1;
            right: 8%;
        }
        
        .common-button:hover.common-button span{
            transition: .3s;
            right: 10%;
        }
    }

    .section-header{
        @extend .p-relative;
        z-index: 5;
        color: white;
        margin-top: 50px;      
        text-align: center;

        h3{
            font-size: 3.5rem;
        }

        p{
            font-size: 1.1rem;
        }
        
    }

    .input-container{
        @extend .flex;

        i{
            @extend .col-2;
            @extend .larger-font;
            background: $main-green;
            height: inherit;
            border-radius: 30px 0px 0px 30px;
            @extend .flex;
            @extend .flex--justify-center;
            @extend .align-center;
        }

        input{
            @extend .col-10;
            padding: 15px 0px 15px 10px;
            border-radius: 0px 30px 30px 0px;
            border: none;
            font-size: .9rem;
            color: #aaa;
        }
       
    }

}