#footer{
    padding: 80px 0px;
    background-color: black;
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 100%);
    .footer-head{
        color: white;
        text-align: center;
        h2{
            @extend .normal-font;
        }

        p{
            @extend .small-font;
        }
        ul{

            li{
                margin: 40px 15px;

                a{
                    padding: 20px;
                    border-radius: 30px;               
                    border: 2px solid $main-green;
                    text-align: center;
                    color: white;                    
                    cursor: pointer;
                    @extend .p-relative;                
                    @extend .fw-600;
                    z-index: 5;
                    @extend .flex;
                    @extend .align-center;
                    @extend .flex--justify-center;
                    &::before{                   
                        content: "\f099";                   
                        @extend .p-absolute;
                        font: 1.5rem FontAwesome;
                        right: 20%;
                        color: $main-green;                    
                        
                    }
                }

                a:hover::before{
                    color: white;
                    transform: rotateY(360deg);
                    transition-duration: .7s;
                    

                }

                a:hover{
                    background-color: $main-green;
                }

                .facebook{
                    &::before{                   
                        content: "\f09a"; 
                    }
                }

                .skype{
                    &::before{                   
                        content: "\f17e"; 
                    }
                }

                .youtube{
                    &::before{                   
                        content: "\f167"; 
                    }
                }

                .linkedin{
                    &::before{                   
                        content: "\f09a"; 
                    }
                }

                .github{
                    &::before{                   
                        content: "\f0d5"; 
                    }
                }

                .instagram{
                    &::before{                   
                        content: "\f16d"; 
                    }
                }

            }
        }
    }
}