body{
    background-color: $main-color;
    font-family: 'Raleway', sans-serif;
}

#home{
    
    background-image: url(/images/cover-rotating-words.jpg);
    height: 100vh;   
    clip-path: polygon(100% 0%, 0% 0%, 0% 98%, 100% 75% );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    @extend .p-relative;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);

    }   

    .header-logo{        
        @extend .p-relative;
        z-index: 3;
        padding-left: 15px;
    }

    .header-navbar{
        @extend .p-relative;
        z-index: 3;
        @extend .flex;
        @extend .flex--justify-end;
        #check{
            display: none;
        }
    
        label{            
            font-size: 1.5rem !important;
            color: white !important;
            @extend .flex;
            @extend .align-center;
            cursor: pointer;
            opacity: 0;           
        }
        
        ul li :hover{
            color: $main-green;
        }
        ul{
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
            text-transform: uppercase;           

            li{
                @extend .p-15;
                font-size: 0.8rem;
                font-weight: bold;               
            }

            i{
                margin-right: 5px;
            }          

        }
       
    }

    .home-content{
        @extend .flex;
        @extend .align-center;
        @extend .flex--justify-center;
        height: 350px;
        flex-direction: column;

        .main-button{
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
        }
             
        p{
            @extend .flex;
            @extend .align-center;
            @extend .flex--justify-center;
            @extend .p-40;
            @extend .p-absolute;
            top:40%;
            z-index: 1;
            color: white;
            font-size: 3.5rem;
            font-weight: bolder;
        }

        a:hover i{
            opacity: 1;
            @extend .pl-10;
        }

        a{
            @extend .flex;
            @extend .flex--justify-center;
            @extend .p-relative;;
            z-index: 3;
            color: white;
            background-color: $main-green;
            font-size: 1rem;
            border-radius: 100px;
            width: 215px;
            font-weight: 900;
            text-transform: uppercase;
           
            i{
                @extend .p-relative;
                z-index: 3;
                font-size: larger;
                @extend .fw-600;
                color: white;
                opacity: 0;
            }
            
        }
       
    }

    .common-button{
        padding: 10px 50px;
        border-radius: 30px;               
        background-color: $main-green;
        text-align: center;
        @extend .flex;
        @extend .align-center;
        color: white;
        border: none;
        cursor: pointer;
        @extend .p-absolute;                
        @extend .fw-600;
        z-index: 1;
        top:65%;
        &::before{                   
            content: "\f063";                   
            @extend .p-absolute;
            font: 1rem FontAwesome;
            right: 18%;                    
            opacity: 0;
        }
    
        span{
            font-size: 1.2rem;
            @extend .fw-500;
            @extend .p-relative;
            right: 0;
        }               
        
    }
    
    .common-button:hover::before{
        transition: .3s;
        opacity: 1;
        right: 8%;
    }
    
    .common-button:hover.common-button span{
        transition: .3s;
        right: 10%;
    }
       

}
