#Portfolio{


    .portfolio-menu{
        ul{
            display: flex;
            color: white;
            justify-content: center;
            margin: 50px 0;
            li{
                font-size: 1rem;
                padding: 10px 20px;
                margin: 0px 10px;
                border: 2px solid $main-green;
                border-radius: 50px;
                font-weight: 600;

            }

            li:hover{
                background-color: $main-green;
            }
        }
    }

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: 340px 340px 340px;     
        gap: 20px;

        .portfolio-content-item{
            border: 1px solid red;
        }


    }



}