
@media (max-width:$breakpoint-sm) {
    .container{ 
        width:100%;
    }

    #home{
        label{
            opacity: 1 !important;
        }
        .row{
            justify-content: space-around;
        }

        .home-content{
            p{
                text-align:center;
            }
        }
        .header-navbar{
            ul{
                position: fixed;
                
                height: 100vh;
                background-color: rgb(221, 221, 221); 
                margin: 0px;
                top: 80px;
                left: -100%;
                transition:all .5s;
                z-index: 10;
                width:100vw;
                text-align: center;
                display: block;

                li{
                    border-bottom:1px solid #d1d1d1;
                    padding: 20;
                    //width: 100%;
                    box-sizing: border-box;
                }

                


                a{
                    color: #5e5c5c !important;
                }
            }

            ul li:hover a{
                color: $main-green !important;
            }

            #check:checked~.checkbtn i::before{
                content: "\X";
           }

            #check:checked ~ ul{
                left: 0;
                
            }  

           

        }
    }

    #about{
        
        .about-base{
            display: block;
        }

        .info-content-right{
            margin: 40px 0px;
            
        }

    }

    #projectManager{
        box-sizing: border-box;
        padding: 100px 0px;
        height: auto;
        clip-path: polygon(100% 5%, 0% 0%, 0% 93%, 100% 100%);
        //background-attachment:
        .row{
            display: flex;
            flex-wrap: wrap !important;
            box-sizing: border-box;
            text-align: center;

            img{
                top: 0px;
            }

            .project-content{
                top:0px;
            }

            ul{
                justify-content: center;

                li{
                    margin: 0px 5px;
                }
            }
        }
    }

    #services{
        .service-content{
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: 230px 230px 230px 230px 230px 230px !important;
            padding: 0px !important;

            
        }
    }

    #testimonials{
        h1{
            text-align:center;
        }
    }
   

    .info-head{
        h3{
                text-align: center;
        }
    }

    .portfolio-content{
        grid-template-columns: 1fr !important;
        grid-template-rows: 340px !important;
        padding: 0px !important;
    }

    .fact-content-item{
        i{
            font-size: 3rem !important;
        }

        h2{
                font-size: 3rem !important;
        }

        p{
            font-size:1rem !important;
        }
    }
    .portfolio-content-base{
        p{
            font-size: 1.1rem !important;
        }
    }

    .team-content{
        grid-template-columns: 1fr !important;
    }

    .blog-content{
        grid-template-columns: 1fr !important;

        .blog-content-item{
            padding: 10px 0px !important;
        }
    }

    .contact-content{
        display: block !important;
        position: static !important;

        .contact-content-detail{
            margin: 10px 0px !important;
        }
    }

    #logo{
        ul {
            display: block;

            li{
                margin: 25px 0px;
            }
        }
    }

    #footer{
        .footer-head{

            h2{
                font-size: .9rem !important;
            }
    
            p{
                font-size: .8rem !important;
            }
            ul {
                margin: 10px 0px !important;

                li{
                    margin: 40px 12px !important;

                    
                }
            }
        }
    }
    
}

@media (min-width:$breakpoint-sm) and (max-width:$breakpoint-md) {
    #home{

        label{
            opacity: 1 !important;
        }

        .row{
            justify-content: space-around;
        }
        .header-navbar{
            ul{
                position: fixed;
                
                height: 100vh;
                background-color: rgb(221, 221, 221); 
                margin: 0px;
                top: 80px;
                left: -100%;
                transition:all .5s;
                z-index: 10;
                width:100vw;

                text-align: center;
                display: block;

                li{
                    border-bottom:1px solid #d1d1d1;
                    padding: 20;
                    //width: 100%;
                    box-sizing: border-box;
                }

                


                a{
                    color: #5e5c5c !important;
                }
            }

            ul li:hover a{
                color: $main-green !important;
            }

            #check:checked~.checkbtn i::before{
                content: "\X";
           }

            #check:checked ~ ul{
                left: 0;
                p{
                    z-index: 0;
                }
            }

           

        }
    }

    #about{

        .container{
            padding: 0px 50px !important;
        }
        .about-base{
            display: block;
        }

        .info-content-right{
            margin: 40px 0px;
            
        }

    }

    #projectManager{
        
        box-sizing: border-box;
        padding: 100px 0px;
        height: auto;
        clip-path: polygon(100% 5%, 0% 0%, 0% 93%, 100% 100%);
        //background-attachment:
        .row{
            display: flex;
            flex-wrap: wrap !important;
            box-sizing: border-box;
            text-align: center;

            img{
                top: 0px;
            }

            .project-content{
                top:0px;
            }

            ul{
                justify-content: center;

                li{
                    margin: 0px 5px;
                }
            }
        }
    }

    #services{

        .container{
            padding: 0px 50px !important;
        }
        .service-content{
            display: grid;
            grid-template-columns: repeat(1, 3fr) !important;
            grid-template-rows: 230px 230px 230px 230px 230px 230px !important;
            padding: 0px !important;

            
        }
    }

    .info-head{
        h3{
                text-align: center;
        }
    }

    #portfolio{
        .container{
            padding: 0px 50px;
        }

    
        .portfolio-content{
            grid-template-columns: repeat(3, 3fr) !important;
            grid-template-rows: 340px !important;
            gap:30px;
            padding: 0px !important;

            p{
                font-size:.7rem !important;
            }

            h3{
                font-size:1rem !important;
            }
        }

        .portfolio-content-item{
            margin: 15px 5px;
        }

    }

    #testimonials{
        h1{
            text-align:center;
        }

    }

    .fact-content-item{
        i{
            font-size: 3rem !important;
        }

        h2{
                font-size: 3rem !important;
        }

        p{
            font-size:1rem !important;
        }
    }
    

    .team-content{
        grid-template-columns:  repeat(2, 2fr) !important;
    }

    #blog{
        .container{
            padding: 0px 50px !important;
        }

        .blog-content{
            grid-template-columns: repeat(3, 1fr) !important;
            grid-template-rows: 360px !important;
    
            .blog-content-item{
                padding: 10px 0px !important;
            }
        }
    }


    .contact-content{
        display: flex !important;
        position: static !important;
        gap: 15px !important;

        .contact-content-detail{
            margin: 10px 0px !important;
        }
    }

    #logo{
        ul {
            display: flex;

            li{
                margin: 20px 10px;
            }
        }
    }

    #footer{
        .footer-head{

            h2{
                font-size: .9rem !important;
            }
    
            p{
                font-size: .8rem !important;
            }
            ul {
                margin: 10px 0px !important;

                li{
                    margin: 40px 5px !important;

                    a{
                        &::before{
                            font-size: 1.2rem !important;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width:$breakpoint-md) and (max-width:$breakpoint-lg) {
    #home{
        .row{
            justify-content:space-between;
        }
    }
    #about{

        .container{
            padding: 0px 50px !important;
        }
        

    }

    #projectManager{
        
        box-sizing: border-box;
        padding: 100px 0px;
        height: auto;
        clip-path: polygon(100% 5%, 0% 0%, 0% 93%, 100% 100%);
        //background-attachment:
        .row{
            display: flex;
            flex-wrap: wrap !important;
            box-sizing: border-box;
            text-align: center;

            img{
                top: 0px;
            }

            .project-content{
                top:0px;
            }

            ul{
                justify-content: center;

                li{
                    margin: 0px 5px;
                }
            }
        }
    }

    #services{

        .container{
            padding: 0px 50px !important;
        }
        
    }

    #testimonials{
        h1{
            text-align:center;
        }

    }

    .info-head{
        h3{
                text-align: center;
        }
    }

    #portfolio{
        .container{
            padding: 0px 50px;
        }

    
        .portfolio-content{
            grid-template-columns: repeat(3, 3fr) !important;
            grid-template-rows: 340px !important;
            gap:30px;
            padding: 0px !important;

            p{
                font-size:.7rem !important;
            }

            h3{
                font-size:1rem !important;
            }
        }

        .portfolio-content-item{
            margin: 15px 5px;
        }

    }

    
    .team-content{
        padding: 0px 20px;
        box-sizing: border-box;

    }

    #blog{
        .container{
            padding: 0px 50px !important;
        }

        .blog-content{
            grid-template-columns: repeat(3, 1fr) !important;
            grid-template-rows: 360px !important;
    
            .blog-content-item{
                padding: 10px 0px !important;
            }
        }
    }

   

    #logo{
        ul {
            display: flex;

            li{
                margin: 20px 10px;
            }
        }
    }

    #footer{
        .footer-head{

            h2{
                font-size: .9rem !important;
            }
    
            p{
                font-size: .8rem !important;
            }
            ul {
                margin: 10px 0px !important;

                li{
                    margin: 40px 5px !important;

                    a{
                        &::before{
                            font-size: 1.2rem !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:$breakpoint-lg) {}